

<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3 ra">
        <p>Tell Ra How You Feel Today</p>
      </div>

    </div>

  </div>

</div>
<div class="about">
  <div class="container">
    <div class="abouttxt">
      <div class="headers">
      
        <br>
        <br>
        <div class="row">
          <div class="col-12 aboutapp ">
            <p>We leverage factual data collected by a reputable scientific source paired with real time feelings of
              people.
              You will gain access to our database that pairs how people are feeling with data that is
              pulled from NASA sources.</p>
            <p>
              Discover the connection between how you feel and cosmic events. Tell us how you are feeling, or sign in
              to keep track of your own data.</p>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tell Ra How You Feel
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Headaches or migraines, the feeling of pressure in your head</a>
                <a class="dropdown-item" href="#">Lethargy, exhaustion</a>
                <a class="dropdown-item" href="#">Hyper-tension (high blood pressure)</a>
                <a class="dropdown-item" href="#">Dizziness, the jitters or vertigo</a>
                <a class="dropdown-item" href="#">Sleep Issues</a>
                <a class="dropdown-item" href="#">Anxiety and worrying</a>
                <a class="dropdown-item" href="#">Increased sensitivity</a>
              </div>
            </div>
          </div>


        </div>

      </div>


    </div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>