

<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-12 ra">
        <p>Tell Ra How You Feel</p>
      </div>
      </div>
<div class="row">
  <div class="col-12 text-center">
            
<select id="aioConceptName" class="dropbtn">
         <option>Tell Ra How You Feel</option>
         <option>Headaches or migraines, the feeling of pressure in your head</option>
         <option>Hyper-tension (high blood pressure)</option>
         <option>Dizziness, the jitters or vertigo</option>
         <option>Sleep Issues</option>
         <option>Anxiety and worrying</option>
         <option>Increased sensitivity</option>
    
       </select>



             </div>
            
</div>
<div class="row">
  <br>
  <br>
  <div class="col-12 offset-5">
<i class="fas fa-sun sun1"></i>
  </div>

</div>
      

  </div>

</div>
{{!-- <div class="about">
  <div class="container">
    <div class="abouttxt">
      <div class="headers">
      
        <br>
        <br>
        <div class="row">
          <div class="col-12 aboutapp ">
            <i class="fas fa-sun sun1"></i>
            <p>We leverage factual data collected by a reputable scientific source paired with real time feelings of
              people.
              You will gain access to our database that pairs how people are feeling with data that is
              pulled from NASA sources.</p>
            <p>
              Discover the connection between how you feel and cosmic events. Tell us how you are feeling, or sign in
              to keep track of your own data.</p>
        
          </div>


        </div>

      </div>


    </div>

  </div>

</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/nasa.js"></script>