
<section class="login">
  <h1 class="login__title">Sign in</h1>
  <form action="" class="form">
    <input class="form__input" type="email" placeholder="Your email" />
    <input class="form__input" type="password" placeholder="Your password" />
    <button class="form__submit">GO</button>
  </form>
  <a href="#" class="login__action login__action--normal">Need help?</a>
  <a href="#" class="login__action">Sign up</a>
</section>



