
</div>
      </div>
<section class="login">
  <h1 class="login__title">Sign in / Sign up</h1>
  <form action="/api/UserFeelings" method="POST" class="form">
    <input class="form__input email" type="text" placeholder="Your email" />
    <input class="form__input" type="password" placeholder="Your password" />
   <button class="form__submit" onclick="location.href = '/user'">GO</button>
   
  </form>
  

</section>
<script src="/js/index.js"></script>
<script src="/js/user.js"></script>



