<div class="container">


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body" id="nasa">
         <h1> <i class="fas fa-sun sun1"> </i> Solar Flares</h1>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body stats" id="example-list">
 <h1><i class="fas fa-user fa-spin sun2"></i> User Feelings</h1>
 <br>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          Sign up to keeep track of your own day to day data
        </div>
      </div>
    </div>





  </div>
<br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <dic class="card">
        <div class="card-body">
          
<p>
<strong>
A and B-class solar flares
</strong>
 <br>
          The A and B-class are the lowest class of solar flares. They are very common and not very interesting. The
          background flux (amount of radiation emitted when there are no flares) is often in the B-range during solar
          maximum and in the A-range during solar minimum.
</p>

<p>
  <strong>
 C-class solar flares
  </strong>
 <br>
          C-class solar flares are minor solar flares that have little to no effect on Earth. Only C-class solar flares
          which are long in duration might produce a produce a coronal mass ejection but they are usually slow, weak
          and rarely cause a significant geomagnetic disturbance here on Earth. The background flux (amount of
          radiation emitted when there are no flares) can be in the lower C-class range when a complex sunspot region
          inhabits the Earth-facing solar disk.
</p>
         
<p>
  <strong>
M-class solar flares
  </strong>
   <br>

          M-class solar flares are what we call the medium large solar flares. They cause small (R1) to moderate (R2)
          radio blackouts on the daylight side of the Earth. Some eruptive M-class solar flares can also cause solar
          radiation storms. Strong, long duration M-class solar flares are likely candidates to launch a coronal mass
          ejection. If the solar flare takes place near the center of the Earth-facing solar disk and launches a
          coronal mass ejection towards our planet, there is a high probability that the resulting geomagnetic storm is
          going to be strong enough for aurora on the middle latitudes.
</p>
          
<p>
  <strong>
  X-class solar flares
  </strong>
  <br>
     
          X-class solar flares are the biggest and strongest of them all. On average, solar flares of this magnitude
          occur about 10 times a year and are more common during solar maximum than solar minumum. Strong to extreme
          (R3 to R5) radio blackouts occur on the daylight side of the Earth during the solar flare. If the solar flare
          is eruptive and takes place near the center of the Earth-facing solar disk, it could cause a strong and long
          lasting solar radiation storm and release a significant coronal mass ejection that can cause severe (G4) to
          extreme (G5) geomagnetic storming at Earth.
</p>
   
        </div>
      </dic>
    </div>
  </div>


</div>

<br>
<br>
<br>
<br>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/user.js"></script>
<script src="/js/index.js"></script>