<div class="about">
    <div class="container">

        <div class="headers">
            <div class="row">
                <div class="col-md-6">
                    <h1>What are Sun Flares and How Do They Affect Us?</h1>
                    <p>A solar flare is a sudden flash of brightness observed near the Sun's surface. It involves a
                        very broad
                        spectrum
                        of emissions, requiring an energy release of up to 6 × 1025 joules of energy (roughly the
                        equivalent of
                        160,000,000,000
                        megatons of TNT... Flares are often, but not always, accompanied by a coronal mass ejection.
                        The flare
                        ejects
                        clouds of electrons, ions, and atoms through the corona of the sun into space. These clouds
                        typically
                        reach Earth
                        a day or two after the event. </p>

                    <p>
                        ​Solar flares are a space weather phenomenon that can greatly impact our human bodies and
                        lives,
                        biologically affect us,
                        and consequently affect our ability to cope. They can influence our brain activity and sense of
                        equilibrium,
                        central nervous system, psycho-physiological and emotional self as well as behavioral
                        tendencies. ​On a
                        higher
                        consciousness level they serve to transform us on a cellular level, and they can tear apart old
                        patterns
                        and
                        influence us to make changes in our life, even if it is from a more sub-conscious level. This
                        internal
                        shifting
                        might bring fears up to the surface.
                    </p>

                </div>

                <br>
                <div class="col-md-6 paddingra">
                    <h1> What are Geomagnetic Storms and How Do They Affect Us? </h1>

                    <p>
                        "...a temporary disturbance of the Earth's magnetosphere caused by a solar wind shock wave
                        and/or cloud
                        of magnetic field
                        that interacts with the Earth's magnetic field. The increase in the solar wind pressure
                        initially
                        compresses
                        the magnetosphere. The solar wind's magnetic field interacts with the Earth’s magnetic field
                        and
                        transfers an
                        increased energy into the magnetosphere. Both interactions cause an increase in plasma movement
                        through
                        the magnetosphere
                        (driven by increased electric fields inside the magnetosphere) and an increase in electric
                        current in the
                        magnetosphere
                        and ionosphere."
                    </p>

                    <p>
                        Like solar flares, it is said by some that geo-magnetic
                        storms actually help us receive energetic 'downloads' and ascend as we move from our physical
                        body to our
                        'lightbody'
                        (a higher energetic and spiritual state. moving closer to the higher dimensions). They offer us
                        'upgrades' and
                        assist in the transmutation and changing of our DNA. This is a process, not something that
                        happens
                        overnight.
                        ​Geo-magnetic storms are highly transformational. They might be happening and you are not even
                        aware of
                        it and
                        how it is influencing your daily life, as there are also symptoms associated with the
                        phenomenon.

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <h1>THE NEXT GEOMAGNETIC STORM</h1>

                    Geomagnetic storms (G1-class) are likely on Nov. 30th or Dec. 1st when a stream of
                    solar wind is expected to hit Earth's magnetic field. The gaseous material is flowing from a large
                    hole in the sun's
                    atmosphere. This is a long-lasting hole that has lashed Earth with solar wind about once a month
                    since July. The last
                    time it happened on Nov. 4th, auroras were sighted in multiple northern-tier US states. Free:
                    Aurora Alerts.
                    <p>
                        INCREDIBLE SKI HALOS: Ski resorts are one of the best places to see sun halos--rings of light
                        that
                        surround the sun
                        when ice crystals fill the air. Spaceweather.com reader Julie Morris was skiing at the
                        Snowbasin
                        Resort in Huntsville,
                        Utah, on Nov. 25th when she witnessed this incredible specimen:

                        "I had never seen anything like it," says Morris. "It lasted for more than 15 minutes, and
                        other
                        skiers stopped to photograph it as well. I was so glad that my iPhone photo turned out because
                        my
                        hands were numb and I also couldn't see that well because I had stared at the brightness for so
                        long!"
                    </p>

                    <p>

                        Ordinary sun halos are caused by ice crystals floating high above Earth's surface in cirrus
                        clouds.
                        "Ski halos," on the other hand, are formed by ice crystals near the ground, kicked into the air
                        by
                        the action of skis and snow-making machines.

                        "There were snow-making machines in operation at the time," says Morris. That's important
                        because snow-making machines produce a very special type of ice. Crystals called "diamond dust"
                        grow slowly downwind of ski-slope snow blowers. These man-made crystals tend to be more
                        optically perfect than natural crystals in clouds, producing extra-bright, extra-sharp halos.
                    </p>


                </div>

            </div>
        </div>

    </div>
</div>