
 
<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-12 ra">
        <p>Tell Ra How You Feel</p>
      </div>
      </div>
<div class="row">
  <div class="col-12 text-center">
            
<select id="aioConceptName" class="dropbtn">
         <option>Tell Ra How You Feel</option>
         <option>Headaches or migraines, the feeling of pressure in your head</option>
         <option>Hyper-tension (high blood pressure)</option>
         <option>Dizziness, the jitters or vertigo</option>
         <option>Sleep Issues</option>
         <option>Anxiety and worrying</option>
         <option>Increased sensitivity</option>
         <option>I Feel Fine</option>
    
       </select>



             </div>
            
</div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
