.list-group-item {
  line-height: 2.5;
}

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oxygen', sans-serif; */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  /* padding-bottom: 6rem; */
  min-height: 100%;
  font-family: 'Sorts Mill Goudy', serif;
  color: black;
}



 a {
     color: white;
 }
  
 a:hover {
     color: #feda6a;
 }

 .myfooter {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1e22;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: x-small;
}
.myheader {
  background-color: #1d1e22;
}

.parallax {
  /* The image used */
  background-image: url("/styles/imgs/ra.png");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}



.about {
  height:700px;
  /* background-color:#7e7a5b; */
  background-color: white;
  font-size:36px;
 
}

.headertext {
  color: rgb(0, 0, 0);
}


.contact {

  margin-top: 8.5%;
}

.text {
    color: black;
    font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
}

.mysubmit {
    background-color:#1d1e22;
    color: white
}

.headers {
  color: black;
  font-size: large;
font-family: 'Sorts Mill Goudy', serif;
font-weight: 400;
line-height: 1.6;
}

.abouttxt {
margin-top: 5%;

}

.ra {
  font-family: 'Sorts Mill Goudy', serif;
  margin-top: 200px;
  color: white;
  font-size: 112px;
  font-weight: 450;
  line-height: 1.0;
  /* position: fixed; */
  
}